name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Other steps...

      - name: Deploy to Page
        id: deployment
        uses: some/deploy-action@v1
        with:
          url: ${{ steps.deployment.outputs.page_url }}
      
      - name: Other Steps
        run: echo 'Deployment Complete'
